body {
  margin: 10px;
  background-color: F0F3F6;
}

main {
  display: flex;
}

main > * {
  flex: 1;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

form {
  text-align: center;
  border-radius: 4px;
}

input[type="text"] {
  width: 480px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}

.img-thumbnail {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.img-thumbnail-lg {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.archived span {
  text-decoration: line-through;
}

.card {
  background: #bfdbff;
  box-shadow: 6px 6px 5px gray;
  padding: 10px;
  margin: 20px;
}
.card_title {
  height: 80px;
  width: 100%;
  position: relative;
}

.recipe_title {
  font-size: 1.7rem;
  bottom: 0;
  position: relative;
  font-weight: bold;
}
.ingredient_title {
  font-size: 1rem;
  font-weight: bold;
}
.instruction_title {
  font-size: 1rem;
  font-weight: bold;
}
