body {
  margin: 10px;
  background-color: E9DFD5;
  color: 6b6e66;
}

nav {
  background-color: D1B9BE;
}

main {
  display: flex;
}

main > * {
  flex: 1;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

form {
  text-align: center;
  border-radius: 4px;
}

input[type="text"] {
  width: 480px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.jumbotron[id="card"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  padding-right: 0px;
}

.lead {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}
.link {
  font-weight: bold;
  font-size: x-large;
  color: 333538;
}

.img-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 40px;
}
.img-thumbnail-lg {
  height: 100px;
  width: 100px;
  border-radius: 40px;
}

.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: bolder;
}

.archived span {
  text-decoration: line-through;
}

.card {
  background: #bfdbff;
  box-shadow: 6px 6px 5px gray;
  padding: 10px;
  margin: 20px;
}
.card_title {
  height: 80px;
  width: 100%;
  position: relative;
}

.recipe_title {
  font-size: 1.7rem;
  bottom: 0;
  position: relative;
  font-weight: bold;
}
.title {
  font-size: 1.5rem;
  font-weight: bolder;
}
